extends ../base

block content 
    div#videoContainer(data-id=video._id)
        video(src="/"+video.videoUrl)
        div#videoControls.videoControls
            div.videoControls__play
                span#play.videoControls__playBtn 
                    i(class="fa-solid fa-play")
                div.videoControls__time
                    span#currentTime  00:00
                    span  / 
                    span#totalTime 00:00
            input(type="range", min="0", value="0", step="1")#timeline
            div.videoControls__volume
                span#mute Mute
                input(type="range", min="0", max="1", value=0.5, step="0.1")#volume
            span#fullScreen.videoControls__fullscreen
                i(class ="fa-solid fa-expand")
    if loggedIn
        div.video__comments
            form.video__comment-form#commentForm
                textarea(placeholder="Write a nice comment...", cols="30", rows="10")
                button Add comment
    //-
        div
            p=video.description
            small=video.createdAt
        div
            small Uploaded by 
                a(href=`/users/${video.owner._id}`) #{video.owner.username}
        hr
        if  loggedInUser._id === String(video.owner._id)
            a(href=`${video.id}/edit`) Edit Video &rarr;
            br
            a(href=`${video.id}/delete`) Delete Video &rarr;

block scripts 
    script(src="/static/js/videoPlayer.js")
    if loggedIn 
        script(src="/static/js/commentSection.js")