extends ../base

block content 
    video(src="/"+video.videoFile, controls ) 
    div
        p=video.description
        small=video.createdAt
    div
        small Uploaded by #{owner.username}
    hr
    if String(loggedInUser._id) === String(video.owner)
        br
        a(href=`${video.id}/edit`) Edit Video &rarr;
        br
        a(href=`${video.id}/delete`) Delete Video &rarr;